USE [master]
GO
/****** Object:  Database [VizeNot]    Script Date: 01/07/2022 11:03:15 ******/
CREATE DATABASE [VizeNot]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VizeNot', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\VizeNot.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VizeNot_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\VizeNot_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VizeNot].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VizeNot]
GO
/****** Object:  Table [dbo].[OgrenciBilgileri]    Script Date: 01/07/2022 11:03:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OgrenciBilgileri](
	[OgrenciID] [int] IDENTITY(1,1) NOT NULL,
	[OgrenciAdi] [nvarchar](100) NOT NULL,
	[OgrenciSoyadi] [nvarchar](100) NOT NULL,
	[OgrenciVizeNot] [int] NOT NULL,
	[OgrenciFinalNot] [int] NOT NULL,
	[OgrenciOrtalama] [int] NOT NULL,
	[OgrenciHarfNotu] [nchar](10) NOT NULL,
 CONSTRAINT [PK_OgrenciBilgileri] PRIMARY KEY CLUSTERED 
(
	[OgrenciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[OgrenciBilgileri] ON 

INSERT [dbo].[OgrenciBilgileri] ([OgrenciID], [OgrenciAdi], [OgrenciSoyadi], [OgrenciVizeNot], [OgrenciFinalNot], [OgrenciOrtalama], [OgrenciHarfNotu]) VALUES (1, N'Serkan', N'Doğan', 50, 50, 50, N'CC        ')
INSERT [dbo].[OgrenciBilgileri] ([OgrenciID], [OgrenciAdi], [OgrenciSoyadi], [OgrenciVizeNot], [OgrenciFinalNot], [OgrenciOrtalama], [OgrenciHarfNotu]) VALUES (2, N'Ali', N'Kırgız', 25, 30, 28, N'DD        ')
INSERT [dbo].[OgrenciBilgileri] ([OgrenciID], [OgrenciAdi], [OgrenciSoyadi], [OgrenciVizeNot], [OgrenciFinalNot], [OgrenciOrtalama], [OgrenciHarfNotu]) VALUES (3, N'Ezel', N'Bayraktar', 100, 100, 100, N'AA        ')
SET IDENTITY_INSERT [dbo].[OgrenciBilgileri] OFF
GO
USE [master]
GO
